<!-- static 디렉터리에 style.css 파일이 위치하지만 /static/style.css 대신 /style.css 로 사용해야 함에 주의하자.
왜냐하면 static 디렉터리가 스태틱 파일들의 루트 디렉터리이기 때문이다.
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">  -->
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
    <div layout:fragment="content" class="container my-3" xmlns:sec>
        <!-- 질문 -->
        <h2 class="border-bottom py-2" th:text="${question.subject}"></h2>
        <div class="card my-3">
            <div class="card-body">
                <div class="card-text" style="white-space: pre-line;" th:text="${question.content}"></div>
                <div class="d-flex justify-content-end">
                    <div th:if="${question.modifyDate != null}" class="badge bg-light  text-dark p-2 text-start mx-3">
                        <div class="mb-2">modified at</div>
                        <div th:text="${#temporals.format(question.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                    </div>
                    <div class="badge bg-light text-dark p-2 text-start">
                        <div class="mb-2">
                            <span th:if="${question.author != null}" th:text="${question.author.username}"></span>
                        </div>
                        <div th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                    </div>
                </div>
                <div class="my-3">
                    <!-- 수정 버튼 옆에 추천 버튼을 추가, 추천 수도 함께 보이도록 함.
                     버튼을 클릭하면 href 속성이 javascript:void(0)으로 되어있어 아무 동작도 하지 않는다.
                     하지만 class 속성에 "recommend"를 추가하여 자바스크립트로 data-uri 에 정의된
                     URL 이 호출되도록 할 것임. (추천 버튼을 눌렀을 때 확인창을 통해 확인을 구하기 위해 이런 방법을 사용함.)-->
                    <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                       th:data-uri="@{|/question/vote/${question.id}|}">추천
                        <span class="badge rounded-pill bg-success" th:text="${#lists.size(question.voter)}"></span>
                    </a>
                    <!--로그인한 사용자와 글쓴이가 동일한 경우에만 수정하기 버튼이 노출되도록-->
                    <!--#authentication.getPrincipal().getUsername() == question.author.username 을 적용하였다.-->
                    <!-- #authentication.getPrincipal()은 Principal 객체를 리턴하는 타임리프의 유틸리티이다. -->
                    <a th:href="@{|/question/modify/${question.id}|}" class="btn btn-sm btn-outline-secondary"
                       sec:authorize="isAuthenticated()"
                       th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
                       th:text="수정"></a>

                    <!-- 삭제 버튼은 수정 버튼과는 다릴 href 속성값을 javascript:void(0)로 설정했다. 그리고 삭제를 실행할
                    URL 을 얻기 위해 th:data-uri 속성을 추가하고(url 아님), 삭제 버튼이 눌리는 이벤트를 확인할 수 있도록
                    class 속성에 "delete" 항목을 추가해 주었다.
                    (data-uri 속성은 자바스크립트에서 클릭 이벤트 발생시 this.dataset.uri 와 같이 사용하여 그 값을 얻을 수 있다.)

                    href 에 삭제 URL 을 직접 사용하지 않고 이러한 방식을 사용한 이유는 삭제 버튼을 클릭했을 때
                    "정말로 삭제하시겠습니까?" 와 같은 확인 절차가 필요하기 때문이다.  -->
                    <a href="javascript:void(0);" th:data-uri="@{|/question/delete/${question.id}|}"
                       class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                       th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
                       th:text="삭제"></a>

                </div>
            </div>
        </div>
        <!-- 답변의 갯수 표시 -->
        <h5 class="border-bottom my-3 py-2"
            th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>
        <!-- 답변 반복 시작 -->
        <div class="card my-3" th:each="answer : ${question.answerList}">
            <div class="card-body">
                <div class="card-text" style="white-space: pre-line;" th:text="${answer.content}"></div>
                <div class="d-flex justify-content-end">
                    <div th:if="${answer.modifyDate != null}" class="badge bg-light  text-dark p-2 text-start mx-3">
                        <div class="mb-2">modified at</div>
                        <div th:text="${#temporals.format(answer.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                    </div>
                    <div class="badge bg-light text-dark p-2 text-start">
                        <div class="mb-2">
                            <span th:if="${answer.author != null}" th:text="${answer.author.username}"></span>
                        </div>
                        <div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                    </div>
                </div>
                <div class="my-3">
                    <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                       th:data-uri="@{|/answer/vote/${answer.id}|}"> 추천
                        <span class="badge rounded-pill bg-success" th:text="${#lists.size(answer.voter)}"></span>
                    </a>
                    <a th:href="@{|/answer/modify/${answer.id}|}" class="btn btn-sm btn-outline-secondary"
                       sec:authorize="isAuthenticated()"
                       th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                       th:text="수정"></a>
                    <a href="javascript:void(0);" th:data-uri="@{|/answer/delete/${answer.id}|}"
                       class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                       th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                       th:text="삭제"></a>
                </div>
            </div>
        </div>
        <!-- 답변 반복 끝  -->
        <!-- 답변 작성 -->
        <form th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}" method="post" class="my-3">
            <div th:replace="~{form_errors :: formErrorsFragment}"></div>
            <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" class="form-control" rows="10"></textarea>
            <!-- 로그인 상태가 아닌 경우 disabled 속성을 통해 입력이 불가하도록 만듬.-->
            <textarea sec:authorize="isAuthenticated()" th:field="*{content}" class="form-control" rows="10"></textarea>
            <input type="submit" value="답변등록" class="btn btn-primary my-2">
        </form>
    </div>

    <!-- 삭제 버튼을 눌렀을때 확인 창을 호출하기 위한 자바스크립트 코드.
    delete 라는 클래스를 포함하는 컴포넌트(버튼이나 링크)를 클릭하면 "정말로 삭제하시겠습니까?"
    라는 질문을 하고, "확인"을 선택할 경우 해당 컴포넌트의 data-uri 값으로 URL 호출을 하라는 의미이다. -->
    <script layout:fragment="script" type='text/javascript'>
        const delete_elements = document.getElementsByClassName("delete");
        Array.from(delete_elements).forEach(function(element) {
            element.addEventListener('click', function() {
                if(confirm("정말로 삭제하시겠습니까?")) {
                    location.href = this.dataset.uri;
                };
            });
        });
        // 추천 버튼에 class="recommend"가 적용되어 있으므로 추천 버튼을 클릭하면 확인 문구가
        // 나타나고 확인 선택시 data-uri 속성에 정의한 URL 이 호출될 것이다
        const recommend_elements = document.getElementsByClassName("recommend");
        Array.from(recommend_elements).forEach(function(element) {
            element.addEventListener('click', function() {
                if(confirm("정말로 추천하시겠습니까?")) {
                    location.href = this.dataset.uri;
                };
            });
        });
    </script>
</html>
