<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
    <h5 class="my-3 border bottom pb-2">질문 등록</h5>
    <form th:action="@{/question/create}" th:object="${questionForm}" method="post">        <!-- 폼의 내용이 POST 로 수행됨-->
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="mb-3">
            <label for="subject" class="form-label">제목</label>
            <input type="text" th:field="*{subject}" class="form-control">       <!-- subject 로 사용됨 -->
                     <!-- th:field => 해당 태그의 id, name, value 속성이 모두 자동으로 생성되고,
                     타임리프가 value 속성에 맞게 기존 값을 채워넣어 오류 발생시에도 기존 내용이 유지된다.-->
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea th:field="*{content}" class="form-control" rows="10"></textarea>   <!-- content 로 사용됨 -->
        </div>
        <input type="submit" value="저장하기" class="btn btn-primary my-2">         <!-- submit(폼 제출) -->
    </form>
</div>
</html>